*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image:linear-gradient(to bottom right,
        #1B3146 78%,
        #AC3F78 );
        background-repeat: no-repeat;
        background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 10rem 1rem;
}

button{
    cursor: pointer;
    border: none;
    border: 2px solid #0B2136;
    border-radius: 6px;
    background-color: #0B2136;
    padding: 0.7rem 1.2rem;
    font-size: 0.9rem;
    color: #AC3F78;
}

button:hover{
    border: 2px solid #AC3F78;
}

.container{
    border-radius: 6px;
    background-color: #0B2136;
    padding: 12px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 12px rgba(0,0,0,0.5);
}

.pages{
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.page{
    cursor: pointer;
    height: 36px;
    width: 36px;
    border: 2px solid #0B2136;
    background-color: #0B2136;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page:hover{
    border: 2px solid #AC3F78;
    color: #AC3F78;
}

.page.current{
    border: 2px solid #AC3F78;
    color: #AC3F78;
}

.items{
    margin: 20px auto;
    font-size: 0.9rem;
    text-align: center;
    color: #ccc;
}