*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4F9FF;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #1B1C40;
}

button{
    cursor: pointer;
    margin: 0.6rem 0;
    border: none;
    border-radius: 4px;
    width: 100%;
    padding: 0.8rem;
    color: white;
    transition: all 0.25s ease-out;
}

button:hover{
    opacity: 0.9;
}

.curved-border{
    margin: 4rem 1rem;
    border-radius: 14px;
    max-width: 500px;
    padding: 14px;
    background-color: #E3ECFA;
}

.form-container{
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
}

.input-group{
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin: 1rem 0;
    line-height: 1.8rem;
}

p{
    margin: 0.4rem 0;
}

.privacy-policy{
    margin: 1.2rem 0;
    font-size: 0.7rem;
}

input{
    margin: 0.4rem 0;
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #E8ECF4;
    border-radius: 4px;
}

input:focus{
    outline: none;
    border: 2px solid #729ef7;
}

.join-with-fb-btn{
    background-color: #4968AD;
}

.create-new-account-btn{
    background-color: #1E2C4B;
}

@media(min-width:559px){
    .curved-border{
        margin: 4rem auto;
    }
}