
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(#009FA5, #00838D,#016773);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 0.6rem 1rem;
    color: white;
}

.container{
    margin: 12rem 2rem;
    max-width: 768px;
}

.empty-bar{
    height: 10px;
    width: 100%;
    border-radius: 500px;
    background-color: #00404F;
}

.filled-bar{
    height: 10px;
    width: 0%;
    border-radius: 500px;
    background-color: #67DED2;
    box-shadow: 0 4px 12px rgba(82, 80, 80, 0.2);
}

.tooltip{
    cursor: pointer;
    text-align: center;
    position: relative;
    margin-left: 0%;
    margin-top: 0.6rem;
    border-radius: 4px;
    display: inline-block;
    padding: 0.4rem;
    width: 60px;
    background-color: #005164;
    color: white;
    font-weight: 500;
    transform: translateX(-50%);
}

.triangle{
    position: absolute;
    top: -5px;
    left: 24px;
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #005164;
}

.btns-container{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#downloadBtn{
    background-color: #28A745;
}

#resetBtn{
    background-color: #FFC107;
}

@media(min-width:768px){
    .container{
        margin: 16rem auto;
    }
}