@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**
* ! Resetting Base Styles
**/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #3B636B;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #53767c;
}

button{
    cursor: pointer;   
    border: none;
    border-radius: 6px;
    padding: 0.8rem 2rem;
    text-transform: capitalize;
    color: white;
    transition: all 0.25s ease-out;
}

.container{
    max-width: 512px;
    overflow: hidden;
    margin: 4rem 1rem;
    border-radius: 8px;
    background-color: white;
}

/**
* ! Typography
**/

.container header{
    text-align: center;
    background-color: #F2FCFE;
    padding: 1.4rem;
    font-weight: 500;
}

.container main{
    padding: 1.4rem 0;
}

.voting-group{
    border-bottom: 1px solid #effbff;
    padding: 1rem 1.4rem;
}

.info{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.empty-bar{
    width: 90%;
    height: 12px;
    background-color: #F3F3F3;
    border: 1px solid #fcf2f2;
    border-radius: 500px;
}

.success-bar,.no-bar,.only-bar{
    height: 10px;
    border-radius: 500px;
}

.success-bar{
    width: 65%;
    background-color: #99E970;
}

.no-bar{
    width: 12%;
    background-color: #FF5F57;
}

.only-bar{
    width: 23%;
    background-color: #FF994E;
}

.vote-percentage{
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-container{
    margin: 1.4rem;
    display: flex;
    justify-content: center;
}

#error{
    margin: 1.4rem;
    font-style: italic;
    font-size: 0.8rem;
    color: #FF5F57;
    display: none;
}

#submit-btn{  
    background-color: #06B3D5;  
}

#submit-btn:hover{  
    opacity: 0.8;  
}

@media(min-width:512px){
    .container{
        margin: 4rem auto;
    }
}